/* Reset css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css*/
html,body { 
    min-width: 290px;
    line-height: 1.5;
    font-size: 16px;
    height: 100%;
    font-family: 'Roboto slab' , sans-serif;
    scroll-behavior: smooth;
    color: #121212;
}
/*Navbar*/

#navbar { 
    display: inline-block;
    position: fixed;
    min-width: 290px;
    width: 300px;
    height: inherit;
    border-right: 2px solid gray;
}



#navbar header { 
    font-size: 2.5rem;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid gray;
}


#navbar ul { 
    font-size: 1.2rem;
    line-height: 30px;
    width: 100%;
}

#navbar ul  a li {
    padding: 5px;
    padding-left: 20px;
    opacity: 0.8;
} 

#navbar ul a:nth-child(n+2) li { 
    border-top: 2px solid gray ;
}


#navbar ul a li:hover {
    cursor: pointer;
    background-color: steelblue;
} 

.nav-link { 
    position: relative;
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.nav-link:hover { 
    color: white;
    
}

/*Dark mode toggle button*/

.dark-mode {
    background-color: #121212;
    color: white;
    
  }


#darkModeButton { 
    position: absolute;
    width: 200px;
    bottom: 10px;
    left:10px;
}

#darkModeButton p{
    display: inline;
    margin: 0;
    font-size: 1.25rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 0.8;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: skyblue;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
   
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 

/*Main section*/

/*Progress bar*/

.progressBar {
    background: skyblue;
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
  }


body::-webkit-scrollbar{ 
    width: 0;
}


#mainDoc { 
    position: absolute;
    margin-left: 310px;
    padding: 20px; 
}

#mainDoc section { 
    display: inline-block;
    width: 100%;
}


#mainDoc header { 
    display: inline-block;
    font-size: 2rem;
    color: inherit;
}

#mainDoc p {
    margin: 20px ;

}


#mainDoc ul { 
    margin-left: 80px;
    list-style-type: disc;
}

#mainDoc ul li { 
    padding: 10px;

}

article a { 
    color: inherit;
}

#mainDoc code { 
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #545454;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}


#menbe { 
    padding: 10px;
    font-size: 25px;
    color: inherit;
}

/*Media tegler hazır deyil */
@media only screen and (max-width: 815px)
{
    /*Navbar*/
    #navbar { 
        margin: 0px;
        display: inline-block;
        position: relative;
        width: 100%;
        height: auto;
        
    }

    #headOfSite { 
        position: fixed;
        border-bottom: 2px solid gray;
        width: 100%;
        background-color: white;
        z-index: 1;
    }

    #navbar header { 
        display: inline-block;
        font-size: 1.25rem;
        padding: 10px 10px;
        text-align: center;
        border-bottom: none;
    }
    

    #navbar ul { 
        margin-top: 48px;
        display: inline-block;
        position: relative;
        min-width: 290px;
        width: 100%;
        height: 165px;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        overflow-x: hidden;
        font-size: 16px;
    }

    /*Main section*/
    #mainDoc { 
        position: absolute;
        margin-left: 0;
        padding: 20px; 
    }
       
    #mainDoc header { 
        display: inline-block;
        font-size: 1.25rem;
        font-weight: bold;
        color: inherit;
    }
    
    #mainDoc p {
        margin: 10px ;
    
    }
    
    #mainDoc ul { 
        margin-left: 20px;
        list-style-type: disc;
        list-style-position: inside;
    }
    
    #mainDoc ul li { 
        padding: 8px;
    
    }
     
    #menbe { 
        text-align: center;
        width: 100%;
        font-size: 1.25rem;
        color: inherit;
    }

    
    /*Dark mode button switch*/
    #darkModeButton { 
        display: block;
        position: relative;
        float: right;
        bottom: 0px;
        left:0px;
        padding:10px;
    }
    
    #darkModeButton p{
        padding: 5px;
        padding-left: 20px;
        font-size: 1.25rem;
    }

}

@media only screen and (max-height: 650px) and (min-width: 815px)
{

    /*Dark mode button switch*/
    #darkModeButton { 
        border-bottom: 2px solid gray;
        position: relative;
        width: 100%;
        bottom: 0px;
        left:0px;
    }
    
    #darkModeButton p{
        display: inline-block;
        padding: 5px;
        padding-left: 20px;
        font-size: 20px;
    }
    
}